<%- include("../partials/header.ejs") -%>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

<div class="container mt-5" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  " >
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Order Details</h1>
    </div>
  </div>

   <div class="row mt-4"  style="display: flex; justify-content: space-around;">
    <div class="col-6"    >
      <h4>Order ID: <%= order._id %></h4>
      <p>Status: <%= order.status %></p>
      <p>Total Price: <%= order.totalPrice %></p>
      <p>Coupon Discount Price: <%= order.couponDiscount %></p>
      <h6>Grand Total : <%= order.grantTotal %></h6>
      <p>Order Date: <%= new Date(order.orderDate).toLocaleDateString() %></p>  
    </div>
    <div class="col-6"   >
      <h4>Shipping Address:</h4>
      <p><%= order.addressId.street %>, <%= order.addressId.city %>, <%= order.addressId.state %> - <%= order.addressId.zip %></p>
    </div>
  </div>
  <button class="btn btn-primary" onclick="dwnlodInvoice()"> DownLoad Invoice</button>

  
  <div class="row mt-4">
    <div class="col-12">
       <div class="scrollable-div" style="max-height: 300px; overflow-y: auto; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
        <ul class="list-group">
          <% order.products.forEach(product => { %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-3">
                  <img style="height: 100px; width: 100px;" src="/uploads/<%= product.productId.image %>" alt="<%= product.name %>" class="img-fluid">
                </div>
                <div class="col-6">
                  <h5><%= product.productId.name %></h5>
                  <p>Price: <%= product.productId.price %></p>
                </div>
                <div class="col-3">
                  <p>Quantity: <%= product.quantity %></p>
                </div>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>


  <% if (order.status === 'Delivered') { %>
    <div class="row mt-4">
      <div class="col-12">
        <a href="/feedback/<%= order._id %>">
          <button type="button" class="btn btn-primary">Feedback and Rating</button>
        </a>
      </div>
    </div>
  <% } %>

   
</div>


<!-- <script>
  // Create your invoice! Easy!
 function dwnlodInvoice(){
  var data = {
  // Customize enables you to provide your own templates
  // Please review the documentation for instructions and examples
  "customize": {
      //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
  },
  "images": {
      // The logo on top of your invoice
      "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
      // The invoice background
      "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
  },
  // Your own data
  "sender": {
      "company": "BE-FIT",
      "address": "BE-FIT InterNational Company",
      "zip": "689129",
      "city": "Kerala",
      "country": "India"
      //"custom1": "custom value 1",
      //"custom2": "custom value 2",
      //"custom3": "custom value 3"
  },
  // Your recipient
  "client": {
      "company": "Client Corp",
      "address": "Clientstreet 456",
      "zip": "4567 CD",
      "city": "Clientcity",
      "country": "Clientcountry"
      // "custom1": "custom value 1",
      // "custom2": "custom value 2",
      // "custom3": "custom value 3"
  },
  "information": {
      // Invoice number
      "number": "2021.0001",
      // Invoice data
      "date": "12-12-2021",
      // Invoice due date
      "due-date": "31-12-2021"
  },
  // The products you would like to see on your invoice
  // Total values are being calculated automatically
  "products": [
      {
          "quantity": 2,
          "description": "Product 1",
          "tax-rate": 6,
          "price": 33.87
      },
      {
          "quantity": 4.1,
          "description": "Product 2",
          "tax-rate": 6,
          "price": 12.34
      },
      {
          "quantity": 4.5678,
          "description": "Product 3",
          "tax-rate": 21,
          "price": 6324.453456
      }
  ],
  // The message you would like to display on the bottom of your invoice
  "bottom-notice": "Kindly pay your invoice within 15 days.",
  // Settings to customize your invoice
  "settings": {
      "currency": "INR", // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
      "locale": "nl-NL", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')        
      "margin-top": 25, // Defaults to '25'
      "margin-right": 25, // Defaults to '25'
      "margin-left": 25, // Defaults to '25'
      "margin-bottom": 25, // Defaults to '25'
      "format": "A4", // Defaults to A4, options: A3, A4, A5, Legal, Letter, Tabloid
      "height": "1000px", // allowed units: mm, cm, in, px
      "width": "500px", // allowed units: mm, cm, in, px
      "orientation": "landscape", // portrait or landscape, defaults to portrait
  },
  // Translate your invoice to your preferred language
  "translate": {
      "invoice": "FACTUUR",  // Default to 'INVOICE'
      "number": "Nummer", // Defaults to 'Number'
      "date": "Datum", // Default to 'Date'
      "due-date": "Verloopdatum", // Defaults to 'Due Date'
      "subtotal": "Subtotaal", // Defaults to 'Subtotal'
      "products": "Producten", // Defaults to 'Products'
      "quantity": "Aantal", // Default to 'Quantity'
      "price": "Prijs", // Defaults to 'Price'
      "product-total": "Totaal", // Defaults to 'Total'
      "total": "Totaal", // Defaults to 'Total'
      "vat": "btw" // Defaults to 'vat'
  },
};

//Create your invoice! Easy!
easyinvoice.createInvoice(data, async function (result) {
  //The response will contain a base64 encoded PDF file
  
 easyinvoice.download("invoice.pdf")
});
 }
</script> -->
<script>
  function dwnlodInvoice() {
  // Get the order ID from your order object (replace 'YOUR_ORDER_ID' with the actual order ID)
  const orderId = '<%= order._id %>';

  fetch(`/downloadInvoice/${orderId}`)
    .then(response => response.json())
    .then(orderData => {
      console.log(orderData);
      // Use orderData to generate the invoice
      var data = {
        "images": {
      // The logo on top of your invoice
      "logo": "https://www.sportzcraazy.com/wp-content/uploads/2022/01/e-sports-2-png.png",
      // The invoice background
      "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
  },
        "sender": {
          "company": "e-ZPORT",
          "address": "e-ZPORT InterNational Company",
          "zip": "689622",
          "city": "Kerala",
          "country": "India"
        },
        "client": {
          // Use orderData.addressId to populate client details
          "company": orderData.userId.name,
          "address": orderData.addressId.street + ', ' + orderData.addressId.city + ', ' + orderData.addressId.state + ' - ' + orderData.addressId.zip
          // ... (rest of the client details)
        },
        "information": {
            "number": orderData._id,
            "date": new Date(orderData.orderDate).toLocaleDateString(),
              "due-date": (() => {
          const orderDate = new Date(orderData.orderDate);
          const dueDate = new Date(orderDate.setDate(orderDate.getDate() + 15));
          return dueDate.toLocaleDateString();
       })(), // Due date is now 15 days after the order date
     },
        "products": orderData.products.map(product => ({
          "quantity": product.quantity,
          "description": product.productId.name,
          "tax-rate": 0, // You may need to fetch tax information from your database
          "price": product.productId.price
        })),
        "bottom-notice": "Kindly pay your invoice within 15 days.",
        "settings": {
      "currency": "INR", // See documen'Locales and Currency' for more info. Leave empty for no currency.
      "locale": "nl-NL", // Defaults to,used for number formatting (See documentation 'Locales and Currency')        
      "margin-top": 25, // Defaults to "margin-right": 25, // Defaults t          
      "margin-left": 25, // Defaults to     
      "margin-bottom": 25, // Defaults   '
      "format": "A4", // Defaults to A4ons: A3, A4, A5, Legal, Letter, Tabloid
      "height": "1000px", // allowed unm, cm, in, px
      "width": "500px", // allowed unit cm, in, px
      "orientation": "landscape", // po or landscape, defaults to portrait
  },
  "translate": {
      "invoice": "agorts",  // Default to 'INVOICE'
      "number": "Order_ID", // Defaults to 'Number'
      "date": "Date", // Default to 'Date'
      "due-date": "Due-Date", // Defaults to 'Due Date'
      "subtotal": "Subtotal", // Defaults to 'Subtotal'
      "products": "Products", // Defaults to 'Products'
      "quantity": "Quantity", // Default to 'Quantity'
      "price": "Price", // Defaults to 'Price'
      "product-total": "Total", // Defaults to 'Total'
      "total": "Grant Total", // Defaults to 'Total'
      "vat": "btw" // Defaults to 'vat'
  },
      };

      // Create and download the invoice
      easyinvoice.createInvoice(data, async function (result) {
        // The response will contain a base64 encoded PDF file
        easyinvoice.download("invoice.pdf");
      });
    })
    .catch(error => {
      console.error('Error fetching order data:', error);
      // Handle error as needed
    });
}

</script>

<%- include("../partials/footer.ejs") -%>
